* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Container */
.container {
  margin: auto;
  padding: 16px;
  max-width: auto;
}


.container p {
  text-align: justify;
}

/* Titles */
h1 {
  text-align: center;
  font-size: clamp(22px, 5vw, 32px);
}

h3 {
  text-align: center;
  font-size: clamp(18px, 2vw, 18px);
}

h4 {
  text-align: center;
  padding-top:10px;
  margin:0;
  font-size: clamp(18px, 2vw, 18px);
}

.footer {
  text-align: center;
  font-size: clamp(10px, 2vw, 15px);
}

.center_title {
  text-align: center;
}

/* Form layout */
.center {
  display: flex;
  flex-wrap: wrap; /* KEY FIX */
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border: 2px solid green;
}

/* Inputs */
input, select, button {
  padding: 10px;
  font-size: 16px;
}

/* Result */
.center_result {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid pink;
  text-align: center;
}

/* Footer */
.footer {
  bottom: 0;
  width: 100%;
  background: #111;
  color: #fff;
  padding: 10px;
  z-index: 1000;
  position:sticky;
  text-align: center;
}

.footer a {
  color:#fff;
} 

.cta-content {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.cta-button {
  background: #ff6b35;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 2px;
  margin:auto;
  height: 30px;
  background: #111;
  color: white;
  text-size-adjust: inherit;
}

.logo {
  font-weight: bold;
  font-size: 10px;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-size: 14px;
}

.menu a:hover {
  text-decoration: underline;
}
 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 2px;
  margin:auto;
  background: #111;
  color: white;
  text-size-adjust: inherit;
}

.card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.card.primary {
  flex: 1.3;
}

.article-section {
  max-width: auto; 
  margin: 10px;
  line-height: 1.6;
  font-family: Arial, sans-serif;
}

.article-section div {
  max-width: auto; 
  margin: 10px auto; 
  line-height: 1.6; 
  font-family: Arial, sans-serif;
  text-align: center;
}

.article-section p {
  text-align: justify;
}
/* Form layout */
.justify_left {
  text-align: justify;
  margin: 0px;
  padding: 0px;
}

.justify_left p {
  margin: 8px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

.center_content {
  justify-content: center;
  align-items: center;
  min-height: 80px;
  margin-top: 10px;
  text-align: center;
 }

 .center_content p {
  text-align: center;
 }

.center_content ul {
  display: inline-block; /* Makes UL shrink to fit content */
  text-align: left; /* Keeps LI text left-aligned */
}

.center_content li {
  text-align:left;
}
.categories {
   justify-content: center;
   align-items: center;
   text-align:center
 }

 .categories p {
   text-align: center;
 }

 .center_content2{
  max-width: auto;
  alignment-baseline: central;
  padding-top:0px;
  margin-top:8px;
  justify-content: center;
 }

 .center_content2 div {
   border-style: solid 2px rgb(111, 5, 5);
 }

 
.center_content2 p {
   text-align: justify;
}

.center_content2 ul {
  display: inline-block; /* Makes UL shrink to fit content */
  text-align: left; /* Keeps LI text left-aligned */
}

.tip-box {
  margin-top:25px; 
  padding:15px; 
  border-left:4px solid #9C27B0;
  background:#f9f9f9; 
  border-radius:6px; 
  font-family: Arial, sans-serif;
}

.article-section2 {
    max-width: auto; 
    margin: 5px; 
    padding: 5px;
    line-height: 1.6; 
    font-family: Arial, sans-serif;
    text-align: justify;
}

.article-section2 div {
    text-align: center;
}

.article-section2 h2 {
    text-align: center;
}

.article-section2 p {
    text-align: center;
}

.justify-align {
  text-align: justify;
  padding:10px;
  margin: 10px;
}

.align-center {
  text-align:center;
}

.align-center h1 {
  text-align:center;
}

.align-center p {
  text-align:center;
}

.align-center ul {
    text-align:center; 
    list-style:none; 
    padding:0;
}

.align-center-30 {
  text-align: center;
  font-size: 30px;
  color: red;
}

.align-center-20 {
  text-align: center;
  font-size: 20px;
}

.align-center-25 {
 text-align:center;
 font-size:25px;
 color:black;
}

.align-left {
  text-align:left;
}
.code-block {
  background:#f4f4f4; 
  padding:10px; 
  border-radius:6px;

}

.red-color {
  color:red;
}

.red-color h3 {
  color:red;
}

.reddish-color {
  color: hsl(350, 75%, 47%);
}

.reddish-color h3 {
  color: hsl(350, 75%, 47%);
}

.font-size-20 {
  font-size:20px;
}

.font-size-25 {
  font-size:25px;
}

.pro-tip-box {
  text-align:center;
  margin:10px; padding:10px; 
  border:2px solid  hsl(350, 75%, 47%); /*rgb(153, 5, 5); */
  border-radius:8px;
}

.tip-box {
 margin-top:25px; 
 padding:15px; border-left:4px solid #FF5722; 
 background:#f9f9f9; 
 border-radius:6px; 
 font-family: Arial, sans-serif;
}

.ul-tips-box {
  text-align:left;
  padding-top:0px;
  margin-top:8px;
}

.ul-tips-box li {
  padding-bottom:5px;
}

.ul-list-justify {
  text-align:justify;
  padding-top:0px;
  margin-top:8px;
}

.ul-list-justify li {
   list-style-position: left;
}

.ul-list-center {
  text-align:center; 
  padding:2px;
  margin:2px;
}

.ul-list-center-none {
  text-align:center; 
  padding:2px;
  margin:2px;
  list-style: none;
}

.ul-list-center-none li {
 list-style-type: none;
}

.zero-padding {
  padding:0;
  margin:0;
}

.recipe-section {
   max-width: 800px; 
   margin: 40px auto; 
   font-family: Arial, sans-serif; 
   line-height: 1.6;
   color: black;
}

.recipe-box {
  margin-top:20px; 
  padding:15px; 
  border:1px solid #210101ec; 
  border-radius:8px;   
}

.maroon-box-center {
  text-align:center; 
  padding: 10px;
  margin: 10px;
  border-width:2px; 
  border-color: rgb(122, 7, 7); 
  border-style: solid;
}

/* 🔥 MOBILE FIX */
@media (max-width: 600px) {
 .menu a {
    font-size: 12px;
    margin-left: 10px;
  }

  .center {
    flex-direction: column;
  }

  input, select, button {
    width: 100%;
  }

  .cta-content {
    flex-direction: column;
    text-align: center;
    padding: 2px;
    line-height: 1;
  }

  .cta-button {
    width: 100%;
  }

  body {
    padding-bottom: 20px; /* prevent footer overlap */
  }
  
  .container {
    max-width: auto;
    margin-top:0px;
    margin-bottom:0px;
  }

  .container p {
    text-align: justify;
  }

  .container_bottom {
    max-width: auto;
    padding-top:0;
    padding-bottom:0;
    margin-top:1px;
    margin-bottom:0px;
  }

  .footer {
    max-width: 600px;
    min-height:50px;
    text-align: center;
    background-color: black;
    color:#fff;
  }
 
  p {
      text-align: center;
      height:auto;
      flex-direction:inherit;
  }

  .article-section {
    max-width: auto; 
    margin: 10px auto; 
    line-height: 1.6; 
    font-family: Arial, sans-serif;
    text-align: justify;
  }

  .article-section div p {
    text-align: justify;
  }

  .article-section2 {
    max-width: auto; 
    margin: 5px; 
    padding: 5px;
    line-height: 1.6; 
    font-family: Arial, sans-serif;
    text-align: center;
  }

   .article-section2 div {
    text-align: center;
  }

  .article-section2 h2 {
    text-align: center;
  }

  .article-section2 p {
    text-align: justify;
  }

  .justify-align {
    text-align: justify;
    padding:5px;
    margin: 5px;
  }

}