<!DOCTYPE html>
<html>
<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-69E6Z52QDX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-69E6Z52QDX');
    </script>
<meta name="description" content="Convert Fahrenheit to Celsius, grams to ounce, volume and weight like pounds, cups and liters">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7887965262748356"
     crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<title>Contact Us</title>
<style>
  h2 {
    text-align: center;
    margin:0;
    font-size: clamp(20px, 5vw, 20px);
    color: red;
  }
  .center_content p {
    text-align: center;
  }
</style>
</head>
<body>
  <div class="navbar">
    <div class="logo">Conversion Tools Hub 🍳Contact Us</div>
    <div class="menu">
      <a href="/">Home</a>
      <a href="/blogs">Guides</a>
      <a href="/tools">Tools</a>
    </div>
  </div>

  <div class="container">
   <div class="center_content">
    <h1>Contact Us</h1>
    <h3>Send us an email at admin@conversiontoolshub.com</h3>
    <p>We aim to respond between 24 - 48 hours.</p>
    <p>For business partnerships, please include details about your request.</p>
   </div>
   <div class="center_content">
        {% if runenv == "local" %} 
            {{ runenv }}
          <form action="/send-message" method="POST">
          <p><label>Name</label>
          <input type="text" name="name" required>
          </p>
          <p><label>Email</label>
          <input type="email" name="email" required>
          </p>
          <p>
          <label>Message</label>
          <textarea name="message" rows="5" required></textarea>
          </p>
          <p><button type="submit">Send Message</button></p>        
          {% if label %}
              <p>{{ label }}</p>
          {% endif %}
      </form> 
      {% endif %}
    </div>
  </div>
    <hr>
  <div class="container_bottom">
    <h2 style="text-align: center;">Tip for better cooking: </h2>
    <p style="text-align: center;">Use a reliable conversion tool to ensure your oven temperature is accurate.</p>
    <p style="text-align: center;">check out our <a href="/">temperature converter</a></p>
   </div>
    <div class="cta-banner">
       © 2026 ConversionToolsHub.com | 
       <a href="/privacy">Privacy Policy</a>|     
       <a href="/terms">Terms of Service</a>
    </div>
</body>
</html>